STACK_NAME=ICAPCFScript
AMI_ID=ami-0a4642da27431f76b
ELASTIC_IP=eipalloc-0196ad193eba6cef6
REGION=eu-west-1
INSTANCE_COUNT=2
KEY_NAME=icapKey
INSTANCE_SIZE=t2.xlarge
SG_CIDR=0.0.0.0/0
EC2_Name=IcapCfServer
EC2_Volume_size=64
ICAP_LB_Name=IcapLoadBalancerCF
ICAPT_TargetGroup_Name=IcapTargetGroupCF